<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <display-name>FeedBackPage</display-name>
  
  <welcome-file-list>
    <welcome-file>SubmitFeedback.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <display-name>HandleFeedback</display-name>
    <servlet-name>HandleFeedback</servlet-name>
    <servlet-class>servlets.HandleFeedback</servlet-class>
    <init-param>
      <description>This is the email that will be used to send the feedback response</description>
      <param-name>Feedback e-mail</param-name>
      <param-value>itsjeel01@gmail.com</param-value>
    </init-param>
  </servlet>
  
  <!-- Mapping servlet to the after-response action -->
  <servlet-mapping>
    <servlet-name>HandleFeedback</servlet-name>
    <url-pattern>/feedbackReceieved</url-pattern>
  </servlet-mapping>
  
</web-app>